<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>FoodLoom</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">HackHarvest</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                <li><a href="{{ url_for('foodbank_requests') }}">Foodbanks</a></li>
                <li><a href="{{ url_for('login_page') }}">Log In / Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <h1>Request Recipes for Your Food Bank</h1>
    <form method="POST" action="/foodbank_requests">
        <label for="name">Food Bank Name:</label><br>
        <input type="text" id="name" name="foodbank_name" value="{{ foodbank_name }}" required><br><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" value="{{ address }}" required><br><br>
        <label for="recipes">Requested Recipes (comma-separated):</label><br>
        <textarea id="recipes" name="requested_recipes" rows="4" cols="50" required></textarea><br><br>
        <label for="website">Website Name</label><br>
        <input type="text" id="website" name="website" required><br><br>
    
        <button type="submit">Submit Request</button>
    </form>    
</body>
</html>
